.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 2px solid red;
}

.error-massage {
  color: red;
  font-weight: bold;
}

.active-filter {
  background-color: #2bcecd;
}

.is-done {
  opacity: 0.5;
}